$primary: #307bc4;
$primary-light: #bcd7f1;
$primary-light-2: #eff7ff;
$secondary: #274760;

$white: #fff;
$black: #191919;

// custom colors
$gray: #a1b5c4;
$brown: #c06d1b;

$primary-gradient: linear-gradient(90deg,$primary,$secondary);
$primary-light-gradient: linear-gradient(0deg, $primary-light, $primary-light-2, transparent);

// color classes
.bg-primary-gradient {
    overflow: hidden;
    background-image: $primary-gradient;
}

.bg-primary-light-gradient {
    background-image: $primary-light-gradient;
}