@font-face {
    font-family: 'NotoSans';
    src: url(../fonts/NotoSans.ttf);
}

@font-face {
    font-family: 'oxygen';
    src: url(../fonts/Oxygen-Bold.ttf);
}

$font-main: 'NotoSans';
$heading-font: 'oxygen';

$fs-md: 0.875rem;
$fs-sm: 0.75rem;
$fs-lg: 1.125rem;
