<footer class="bg-primary-light">
  <div class="footer-logo">
    <img src="/images/footer-icon.png" alt="" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mb-3 mb-lg-0 col-sm-6 order-lg-0">
        <h4 class="text-secondary mb-4">Medical Web Service</h4>
        <div class="d-flex">
          <div class="element-rounded element-sm bg-primary text-white">
            <i class="ri-map-pin-2-line"></i>
          </div>
          <a href="https://maps.app.goo.gl/NS4yWYZBB9RbS4Fg7" class="ms-3 text-secondary" target="_blank">123 PTI, Khan Para, Magura - 7600</a>
        </div>
        <div class="d-flex py-2">
          <div class="element-rounded element-sm bg-primary text-white"><i class="ri-phone-line"></i></div>
          <a href="tel:01810078002" class="ms-3 text-secondary">+880 1810 078002</a>
        </div>
        <div class="d-flex">
          <div class="element-rounded element-sm bg-primary text-white"><i class="ri-mail-open-line"></i></div>
          <a href="mailto:md.salmanezaz@email.com" class="ms-3 text-secondary">md.salmanezaz@email.com</a>
        </div>
      </div>
      <div class="col-lg-2 mb-3 mb-lg-0 col-sm-6 order-lg-1 order-sm-2 text-center text-sm-start">
        <a href="#" class="mb-2 d-block">About</a>
        <a href="#" class="mb-2 d-block">Departments</a>
        <a href="#" class="mb-2 d-block">Doctors</a>
        <a href="#" class="mb-2 d-block">Timetable</a>
        <a href="#" class="mb-2 d-block">Appointment</a>
        <a href="#" class="mb-2 d-block">Testimonials</a>
      </div>
      <div class="col-lg-2 mb-3 mb-lg-0 col-sm-6 order-lg-2 order-sm-3 text-center text-sm-start">
        <a href="#" class="mb-2 d-block">Blog</a>
        <a href="#" class="mb-2 d-block">Contact Us</a>
        <a href="#" class="mb-2 d-block">FAQs</a>
        <a href="#" class="mb-2 d-block">Privacy Policy</a>
        <a href="#" class="mb-2 d-block">Terms and Conditions</a>
      </div>
      <div class="col-lg-3 mb-3 mb-lg-0 col-sm-6 order-lg-3 order-sm-1">
        <h4 class="text-secondary mb-4 text-center text-sm-start">Subscribe To Us Now!</h4>
        <p class="text-secondary">Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
        <div class="input-group mb-3">
          <input type="text" class="form-control border-secondary bg-transparent shadow-none" placeholder="email" />
          <a href="#" class="input-group-text border-secondary bg-primary-gradient text-white">Submit</a>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="copyright text-center text-lg-start py-3 bg-primary text-white">
  <div class="container d-lg-flex justify-content-between">
    <p class="mb-0 fw-light">Copyright &copy; 2023. All rights reserved to <a href="http://3z4z-portfolio.netlify.app" class="text-white fw-normal"> Md. Salman Ezaz</a>.</p>
    <div class="d-flex d-lg-inline-block justify-content-center py-3 py-lg-0">
      <a href="http://3z4z-portfolio.netlify.app" class="text-white fw-light box" target="_blank">
        <img src="/images/resume.png" class="me-2" height="16" alt="" />
        See My Portfolio
      </a>
    </div>
  </div>
</div>
